.bot {
    @include fluid(margin-bottom, 50px, 22.5px, 320px, 1320px);

    &__container {
        @media (max-width:992px) {
            padding: 0;
        }
    }

    &__title {
        margin-bottom: 16px;

        @media (max-width: 992px) {
            padding: 0 35px;
        }
    }

    &__main {
        display: flex;

        @include fluid(gap, 35px, 15px, 320px, 1320px);

        @media (max-width:992px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__texts {
        display: flex;
        flex-direction: column;
        max-width: 416px;
        @include fluid(gap, 43px, 10px, 320px, 1320px);


        &.left {
            text-align: left;
        }

        &.right {
            text-align: right;
        }

        @media (max-width:992px) {
            max-width: 100%;
            padding: 0 35px;

            &.right {
                text-align: left;
            }

        }
    }

    &__text {
        font-weight: 400;
        color: $colorWhite;

        @include fluid(font-size, 18px, 14px, 320px, 1320px);
        @include fluid(line-height, 23px, 18px, 320px, 1320px);


    }

    &__img {
        width: 100%;
        border-radius: 25px;
        overflow: hidden;
        max-width: 411px;

        @media (max-width:992px) {
            max-width: 100%;
            border-radius: 0;
        }


    }
}