.partners {
  @include fluid(margin-bottom, 50px, 25px, 320px, 1320px);

  &__title {
    @include fluid(margin-bottom, 24px, 15px, 320px, 1320px);
  }
  &__banner {
    background-color: $colorWhite;
    padding: 30px 0;
  }
  &__list {
    width: min-content;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    overflow: visible;

    @media (max-width: 800px) {
      animation: scroll 15s linear infinite;
    }
  }
  &__logo {
    max-height: 48px;
    min-height: 22px;
    min-width: 111px;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}
