.btn-gradient {
  @include button-gradient(225deg, #fd7f66, #f4d35e, 1000px, 1);

  span {
    color: $colorBlack;
    transition: all 0.3s ease 0s;
  }

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
      span {
        @include text-gradient(222deg, #fd7f66, #f4d35e);
      }
    }
  }
}

.btn-gradient-outlined {
  @include button-gradient(222deg, #fd7f66, #f4d35e, 1000px, 0);

  span {
    transition: all 0.3s ease 0s;
    @include text-gradient(222deg, #fd7f66, #f4d35e);
  }

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
      span {
        @include text-gradient(222deg, $colorBlack, $colorBlack);
      }
    }
  }
}

.scene {
  position: relative;

  picture {
    height: 100%;
    width: 100%;
  }

  & .bg {
    width: 100%;
    height: 100%;
  }

  & .pictures {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
  }

  & .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title-section {
  text-transform: uppercase;
  font-family: $fontSpace;
  font-weight: 500;
  @include text-gradient(225deg, #fd7f66, #f4d35e);
  @include fluid(font-size, 35px, 18px, 320px, 1320px);
  @include fluid(line-height, 45px, 23px, 320px, 1320px);
}
