.btn-gradient {
  @include button-gradient(222deg, #fd7f66, #f4d35e, 1000px, 1);

  span {
    color: $colorBlack;
    transition: all 0.3s ease 0s;
  }

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      span {
        @include text-gradient(222deg, #fd7f66, #f4d35e);
      }
    }
  }
}

.btn-gradient-outlined {
  @include button-gradient(222deg, #fd7f66, #f4d35e, 1000px, 0);

  span {
    transition: all 0.3s ease 0s;
    @include text-gradient(222deg, #fd7f66, #f4d35e);
  }

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      span {
        @include text-gradient(222deg, $colorBlack, $colorBlack);
      }
    }
  }
}
