//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1320;
$containerPadding: 30;

// ЦВЕТА
$colorWhite: #fff;
$colorBlack: #000;
$colorDark: #121214;
$colorGreen: #6db866;
$colorOrange: #fd7f66;
$colorYellow: #f4d35e;
$gradientYellow: linear-gradient(225deg, $colorOrange 0%, $colorYellow 100%);

// СТАНДАРТНЫЕ НАСТРОЙКИ СТРАНИЦЫ
$colorBg: #121214;
$fontFamily: "IBM Plex Sans";
