<div class="analytics">
    <div class="analytics__wrapper">
        <div class="analytics__container _container">
            <div class="analytics__body">
                <div class="analytics__block">
                    <p class="analytics__value">80k</p>
                    <h3 class="analytics__title">total traders</h3>
                </div>
                <div class="analytics__block">
                    <p class="analytics__value">200k</p>
                    <h3 class="analytics__title">total won</h3>
                </div>
                <div class="analytics__block">
                    <p class="analytics__value">80k</p>
                    <h3 class="analytics__title">total traders</h3>
                </div>
                <div class="analytics__block">
                    <p class="analytics__value">200k</p>
                    <h3 class="analytics__title">total won</h3>
                </div>
                <div class="analytics__block">
                    <p class="analytics__value">100k</p>
                    <h3 class="analytics__title">total won</h3>
                </div>

                <div class="analytics__block mob">
                    <p class="analytics__value">100k</p>
                    <h3 class="analytics__title">total won</h3>
                </div>
            </div>
        </div>
    </div>
</div>