<div class="bot">
  <div class="bot__wrapper">
    <div class="bot__container _container">
      <div class="bot__body">
        <h2 class="bot__title title-section">
          Telegram Bot
        </h2>

        <div class="bot__main">
          <div class="bot__texts left">
            <p class="bot__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <p class="bot__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.
            </p>
          </div>

          <div class="bot__img scene">
            <img src="./img/bot/bg.jpg" alt="Background" class="bg">
            <div class="pictures">
              <img src="./img/bot/bg.jpg" alt="Picture" class="picture">
            </div>
          </div>

          <div class="bot__texts right">
            <p class="bot__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <p class="bot__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>