<div class="contacts">
  <div class="contacts__wrapper">
    <div class="contacts__container _container">
      <div class="contacts__body">
        <h2 class="contacts__title title-section">Contacts</h2>

        <div class="contacts__main">
          <div class="contacts__networks">
            <div class="contacts__network">
              <div class="contacts__network-icon">
                <img src="./img/contacts/logo.jpg" alt="Logo">
              </div>

              <h4 class="contacts__network-title">Telegram</h4>
            </div>

            <div class="contacts__network">
              <div class="contacts__network-icon">
                <img src="./img/contacts/logo.jpg" alt="Logo">
              </div>

              <h4 class="contacts__network-title">Social medias</h4>
            </div>

            <div class="contacts__network">
              <div class="contacts__network-icon">
                <img src="./img/contacts/logo.jpg" alt="Logo">
              </div>

              <h4 class="contacts__network-title">Email</h4>
            </div>
          </div>

          <div class="contacts__info">
            <p class="contacts__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </p>
            <p class="contacts__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </p>
            <button class="contacts__button btn-gradient">Open Telegram Bot</button>
          </div>

          <div class="contacts__scene">
            <div class="contacts__img scene">
              <img class="bg" src="./img/contacts/bg.jpg" alt="Background">
              <div class="pictures">
                <img class="contacts__phone contacts__phone-1 picture" src="./img/contacts/phone-1.png" alt="Picture">
                <img class="contacts__phone contacts__phone-2 picture" src="./img/contacts/phone-2.png" alt="Picture">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>