<div class="faq">
  <div class="faq__wrapper">
    <div class="faq__container _container">
      <div class="faq__body">
        <h2 class="faq__title title-section">FAQ</h2>

        <div class="faq__main">
          <div class="faq__left">
            <div class="faq__img scene">
              <img class="bg" src="./img/faq/bg.jpg" alt="Background">
              <div class="pictures">
                <img class="picture" src="./img/faq/bg.jpg" alt="Picture">
              </div>
            </div>

            <p class="faq__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

            <button class="faq__button btn-gradient"><span>Contact us</span></button>
          </div>

          <div class="faq__right" data-spollers data-one-spoller>
            <div class="faq__spoller">
              <div class="faq__spoller-open _active" data-spoller>
                <h3 class="faq__spoller-title">How to start using the bot?</h3>

                <div class="faq__spoller-icon">
                  <svg width="27" height="15" viewBox="0 0 27 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L12.4568 13.3563C13.2689 14.2323 14.6628 14.2056 15.4408 13.2993L26 1"
                      stroke="currentColor" stroke-width="2" />
                  </svg>
                </div>
              </div>

              <div class="faq__spoller-content">
                <p class="faq__spoller-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>

            </div>
            <div class="faq__spoller">
              <div class="faq__spoller-open" data-spoller>
                <h3 class="faq__spoller-title">What is the RPR token?</h3>

                <div class="faq__spoller-icon">
                  <svg width="27" height="15" viewBox="0 0 27 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L12.4568 13.3563C13.2689 14.2323 14.6628 14.2056 15.4408 13.2993L26 1"
                      stroke="currentColor" stroke-width="2" />
                  </svg>
                </div>
              </div>

              <div class="faq__spoller-content">
                <p class="faq__spoller-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>

            </div>
            <div class="faq__spoller">
              <div class="faq__spoller-open" data-spoller>
                <h3 class="faq__spoller-title">How to start using the bot?</h3>

                <div class="faq__spoller-icon">
                  <svg width="27" height="15" viewBox="0 0 27 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L12.4568 13.3563C13.2689 14.2323 14.6628 14.2056 15.4408 13.2993L26 1"
                      stroke="currentColor" stroke-width="2" />
                  </svg>
                </div>
              </div>

              <div class="faq__spoller-content">
                <p class="faq__spoller-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>

            </div>
            <div class="faq__spoller">
              <div class="faq__spoller-open" data-spoller>
                <h3 class="faq__spoller-title">How to start using the bot?</h3>

                <div class="faq__spoller-icon">
                  <svg width="27" height="15" viewBox="0 0 27 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L12.4568 13.3563C13.2689 14.2323 14.6628 14.2056 15.4408 13.2993L26 1"
                      stroke="currentColor" stroke-width="2" />
                  </svg>
                </div>
              </div>

              <div class="faq__spoller-content">
                <p class="faq__spoller-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>