<div class="features">
  <div class="features__wrapper">
    <div class="features__container _container">
      <div class="features__body">
        <h2 class="features__title title-section">Features of telegramBot</h2>
        <div class="features__cards">
          <div class="features__card">
            <div class="features__card-left">
              <h3 class="features__card-title">Simple interface</h3>
              <p class="features__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor </p>
            </div>

            <div class="features__card-img">
              <img src="./img/features/phone.png" alt="Phone">
            </div>
          </div>

          <div class="features__card">
            <div class="features__card-left">
              <h3 class="features__card-title">Interactive trading</h3>
              <p class="features__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor </p>
            </div>

            <div class="features__card-img">
              <img src="./img/features/stock.png" alt="Phone">
            </div>
          </div>

          <div class="features__card">
            <div class="features__card-left">
              <h3 class="features__card-title">Availability via Telegram</h3>
              <p class="features__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor </p>
            </div>

            <div class="features__card-img">
              <img src="./img/features/message.png" alt="Phone">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>