<div class="features">
    <div class="features__wrapper">
        <div class="features__container _container">
            <div class="features__body">
                <h2 class="features__title title-section">Features</h2>
                <p class="features__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>

                <div class="features__cards">

                    <div class="features__card">
                        <div class="features__card-img">
                            <img src="./img/features/img.jpg" alt="Image">
                        </div>

                        <h3 class="features__card-title">
                            Lightning-Fast Transactions on Solana
                        </h3>

                        <p class="features__card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        </p>
                    </div>

                    <div class="features__card">
                        <h3 class="features__card-title">
                            Thriving Community
                        </h3>

                        <p class="features__card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        </p>

                        <div class="features__card-img">
                            <img src="./img/features/img.jpg" alt="Image">
                        </div>
                    </div>

                    <div class="features__card">
                        <div class="features__card-img">
                            <img src="./img/features/img.jpg" alt="Image">
                        </div>

                        <h3 class="features__card-title">
                            Generous Referral Rewards
                        </h3>

                        <p class="features__card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        </p>
                    </div>

                    <div class="features__card">
                        <h3 class="features__card-title">
                            Lightning-Fast Transactions on Solana
                        </h3>

                        <p class="features__card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        </p>

                        <div class="features__card-img">
                            <img src="./img/features/img.jpg" alt="Image">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>