<div class="features-bot">
  <div class="features-bot__wrapper">
    <div class="features-bot__container _container">
      <div class="features-bot__body">
        <h2 class="features-bot__title title-section">Features of telegramBot</h2>
        <div class="features-bot__cards">
          <div class="features-bot__card">
            <div class="features-bot__card-left">
              <h3 class="features-bot__card-title">Simple interface</h3>
              <p class="features-bot__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor </p>
            </div>

            <div class="features-bot__card-img">
              <img src="./img/features-bot/phone.png" alt="Phone">
            </div>
          </div>

          <div class="features-bot__card">
            <div class="features-bot__card-left">
              <h3 class="features-bot__card-title">Interactive trading</h3>
              <p class="features-bot__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor </p>
            </div>

            <div class="features-bot__card-img">
              <img src="./img/features-bot/stock.png" alt="Phone">
            </div>
          </div>

          <div class="features-bot__card">
            <div class="features-bot__card-left">
              <h3 class="features-bot__card-title">Availability via Telegram</h3>
              <p class="features-bot__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor </p>
            </div>

            <div class="features-bot__card-img">
              <img src="./img/features-bot/message.png" alt="Phone">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>