<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__container _container">
      <div class="footer__body">
        <div class="footer__logo">
          <img src="./img/logo.svg" alt="Logo">
        </div>
        <div class="footer__main">
          <nav class="footer__nav">
            <a href="#" class="footer__link">Home</a>
            <a href="#" class="footer__link">About</a>
            <a href="#" class="footer__link">Tokenomics</a>
            <a href="#" class="footer__link">Telegram-bot</a>
            <a href="#" class="footer__link">Advantages</a>
            <a href="#" class="footer__link">Roadmap</a>
            <a href="#" class="footer__link">FAQ</a>
            <a href="#" class="footer__link">Contacts</a>
          </nav>

          <div class="footer__col">
            <div class="footer__buttons">
              <a class="footer__button btn-gradient">
                <span>Token on Solscan</span>
              </a>
              <a class="footer__button btn-gradient">
                <span>Open Telegram Bot</span>
              </a>
            </div>

            <div class="footer__networks">
              <a href="#" class="footer__network">
                <img src="./img/footer/instagram.svg" alt="Instagram">
              </a>
              <a href="#" class="footer__network">
                <img src="./img/footer/facebook.svg" alt="Facebook">
              </a>
              <a href="#" class="footer__network">
                <img src="./img/footer/twitter.svg" alt="Twitter">
              </a>
            </div>
          </div>

          <p class="footer__operated">
            Operated by TON Society
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>