<header class="header">
  <div class="header__wrapper">
    <div class="header__container _container">
      <div class="header__body">
        <div class="header__logo">
          <img src="./img/logo.svg" alt="Logo">
        </div>

        <nav class="header__nav">
          <button class="header__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="m6.4 18.308l-.708-.708l5.6-5.6l-5.6-5.6l.708-.708l5.6 5.6l5.6-5.6l.708.708l-5.6 5.6l5.6 5.6l-.708.708l-5.6-5.6z" />
            </svg>
          </button>
          <a href="#" class="header__link">Home</a>
          <a href="#" class="header__link">About</a>
          <a href="#" class="header__link">Tokenomics</a>
          <a href="#" class="header__link">Telegram-bot</a>
          <a href="#" class="header__link">Advantages</a>
          <a href="#" class="header__link">Roadmap</a>
          <a href="#" class="header__link">FAQ</a>
          <a href="#" class="header__link">Contacts</a>
          <button class="header__button header__button-mob btn-gradient"><span>Open Telegram Bot</span></button>

        </nav>

        <button class="header__button btn-gradient"><span>Open Telegram Bot</span></button>
        <button class="header__burger">
          <svg width="50" height="33" viewBox="0 0 50 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="1.5" x2="50" y2="1.5" stroke="currentColor" stroke-width="3" />
            <line y1="16.5" x2="50" y2="16.5" stroke="currentColor" stroke-width="3" />
            <line y1="31.5" x2="50" y2="31.5" stroke="currentColor" stroke-width="3" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>