<div class="main">
  <div class="main__wrapper">
    <div class="main__container _container">
      <div class="main__body">
        <div class="main__left">
          <p class="main__text">
            One-click trading:
          </p>

          <h1 class="main__slogan"><span class="gradient">Predict. Stake. Win.</span> <span class="green">RUPOR!</span>
          </h1>

          <div class="main__buttons">
            <div class="main__button btn-gradient-outlined"><span>Buy tokens</span></div>
            <div class="main__button btn-gradient"><span>Continue in TelegramBot</span></div>
          </div>
        </div>

        <div class="main__img scene">
          <img class="bg" src="./img/main/bg.jpg" alt="">
          <img class="picture" src="./img/main/bg.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>