<div class="partners">
  <div class="partners__wrapper">
    <div class="partners__body">
      <h2 class="partners__title title-section _container">Our partners</h2>

      <div class="partners__banner">
        <ul class="partners__list _container">
          <li class="partners__logo">
            <img src="./img/partner/motorola.png" alt="Motorola">
          </li>
          <li class="partners__logo">
            <img src="./img/partner/bosch.png" alt="Bosch">
          </li>
          <li class="partners__logo">
            <img src="./img/partner/atlantic.png" alt="Atlantic">
          </li>
          <li class="partners__logo">
            <img src="./img/partner/zelmer.png" alt="Zelmer">
          </li>
          <li class="partners__logo">
            <img src="./img/partner/siemens.png" alt="Siemense">
          </li>
          <li class="partners__logo">
            <img src="./img/partner/gastroTech.png" alt="GastroTech">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>