<div class="roadmap">
  <div class="roadmap__wrapper">
    <div class="roadmap__body">
      <h2 class="roadmap__title title-section _container">Roadmap</h2>

      <div class="roadmap__main">
        <div class="roadmap__nav">
          <div class="roadmap__tab _active" data-tab-name="steps-2025">2025</div>
          <div class="roadmap__tab" data-tab-name="steps-2026">2026</div>
          <div class="roadmap__tab" data-tab-name="steps-2027">2027</div>

          <div class="roadmap__indicator">
            <div class="roadmap__indicator-round"></div>
          </div>
        </div>

        <div class="roadmap__steps steps-2025 _active">
          <div class="roadmap__step">
            <div class="roadmap__step-plate">
              <div class="roadmap__step-img">
                <img src="./img/roadmap/plate-1.png" alt="Plate">
              </div>
            </div>
            <div class="roadmap__step-info">
              <h3 class="roadmap__step-title">Q1</h3>
              <p class="roadmap__step-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit
                amet,
                consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
          <div class="roadmap__step">
            <div class="roadmap__step-plate">
              <div class="roadmap__step-img">
                <img src="./img/roadmap/plate-2.png" alt="Plate">
              </div>
            </div>
            <div class="roadmap__step-info">
              <h3 class="roadmap__step-title">Q2</h3>
              <p class="roadmap__step-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit
                amet,
                consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
          <div class="roadmap__step">
            <div class="roadmap__step-plate">
              <div class="roadmap__step-img">
                <img src="./img/roadmap/plate-3.png" alt="Plate">
              </div>
            </div>
            <div class="roadmap__step-info">
              <h3 class="roadmap__step-title">Q3</h3>
              <p class="roadmap__step-text">
                Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
          <div class="roadmap__step">
            <div class="roadmap__step-plate">
              <div class="roadmap__step-img">
                <img src="./img/roadmap/plate-4.png" alt="Plate">
              </div>
            </div>
            <div class="roadmap__step-info">
              <h3 class="roadmap__step-title">Q4</h3>
              <p class="roadmap__step-text">
                Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
        </div>

        <div class="roadmap__steps steps-2026">
          <div class="roadmap__step">
            <div class="roadmap__step-plate">
              <div class="roadmap__step-img">
                <img src="./img/roadmap/plate-1.png" alt="Plate">
              </div>
            </div>
            <div class="roadmap__step-info">
              <h3 class="roadmap__step-title">Q11</h3>
              <p class="roadmap__step-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit
                amet,
                consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
          <div class="roadmap__step">
            <div class="roadmap__step-plate">
              <div class="roadmap__step-img">
                <img src="./img/roadmap/plate-2.png" alt="Plate">
              </div>
            </div>
            <div class="roadmap__step-info">
              <h3 class="roadmap__step-title">Q22</h3>
              <p class="roadmap__step-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit
                amet,
                consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
          <div class="roadmap__step">
            <div class="roadmap__step-plate">
              <div class="roadmap__step-img">
                <img src="./img/roadmap/plate-3.png" alt="Plate">
              </div>
            </div>
            <div class="roadmap__step-info">
              <h3 class="roadmap__step-title">Q33</h3>
              <p class="roadmap__step-text">
                Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
          <div class="roadmap__step">
            <div class="roadmap__step-plate">
              <div class="roadmap__step-img">
                <img src="./img/roadmap/plate-4.png" alt="Plate">
              </div>
            </div>
            <div class="roadmap__step-info">
              <h3 class="roadmap__step-title">Q44</h3>
              <p class="roadmap__step-text">
                Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
        </div>

        <div class="roadmap__steps steps-2027">
          <div class="roadmap__step">
            <div class="roadmap__step-plate">
              <div class="roadmap__step-img">
                <img src="./img/roadmap/plate-1.png" alt="Plate">
              </div>
            </div>
            <div class="roadmap__step-info">
              <h3 class="roadmap__step-title">Q111</h3>
              <p class="roadmap__step-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit
                amet,
                consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
          <div class="roadmap__step">
            <div class="roadmap__step-plate">
              <div class="roadmap__step-img">
                <img src="./img/roadmap/plate-2.png" alt="Plate">
              </div>
            </div>
            <div class="roadmap__step-info">
              <h3 class="roadmap__step-title">Q222</h3>
              <p class="roadmap__step-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit
                amet,
                consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
          <div class="roadmap__step">
            <div class="roadmap__step-plate">
              <div class="roadmap__step-img">
                <img src="./img/roadmap/plate-3.png" alt="Plate">
              </div>
            </div>
            <div class="roadmap__step-info">
              <h3 class="roadmap__step-title">Q333</h3>
              <p class="roadmap__step-text">
                Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
          <div class="roadmap__step">
            <div class="roadmap__step-plate">
              <div class="roadmap__step-img">
                <img src="./img/roadmap/plate-4.png" alt="Plate">
              </div>
            </div>
            <div class="roadmap__step-info">
              <h3 class="roadmap__step-title">Q444</h3>
              <p class="roadmap__step-text">
                Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>