<div class="start">
    <div class="start__wrapper">
        <div class="start__container _container">
            <div class="start__body">
                <h2 class="start__title title-section">How to start?</h2>

                <div class="start__cards">

                    <button class="start__left">
                        <svg width="13" height="21" viewBox="0 0 13 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 1L1 10.5L12 20" stroke="currentColor" />
                        </svg>
                    </button>

                    <div class="start__slider swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="start__card">
                                    <p class="start__card-text">
                                        Open the bot by link or by searhing @ruportradelabbot on telegram
                                        and click “Start”
                                    </p>

                                    <div class="start__card-img">
                                        <img src="./img/start/phone-1.png" alt="Phone">
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">

                                <div class="start__card">
                                    <div class="start__card-img">
                                        <img src="./img/start/phone-2.png" alt="Phone">
                                    </div>

                                    <p class="start__card-text">
                                        Open the bot by link or by searhing @ruportradelabbot on telegram
                                        and click “Start”
                                    </p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="start__card">
                                    <p class="start__card-text">
                                        Open the bot by link or by searhing @ruportradelabbot on telegram
                                        and click “Start”
                                    </p>

                                    <div class="start__card-img">
                                        <img src="./img/start/phone-3.png" alt="Phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="start__right">
                        <svg width="13" height="21" viewBox="0 0 13 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L12 10.5L1 20" stroke="currentColor" />
                        </svg>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>