<section class="tokenomics">
    <div class="tokenomics__wrapper">
        <div class="tokenomics__body">
            <h1 class="tokenomics__title title-section _container">Tokenomics</h1>

            <div class="tokenomics__chart">
                <img src="./img/tokenomics/chart.png" alt="Chart">
            </div>

            <div class="tokenomics__tabs">
                <div class="tokenomics__nav">
                    <div class="tokenomics__tab" data-tab-name="rupor">Rupor</div>
                    <div class="tokenomics__tab _active" data-tab-name="liquidity">liquidity</div>
                    <div class="tokenomics__tab" data-tab-name="reserves">reserves</div>
                    <div class="tokenomics__tab" data-tab-name="airdrops">airdrops</div>
                    <div class="tokenomics__tab" data-tab-name="development">development</div>
                    <div class="tokenomics__indicator">
                        <div class="tokenomics__indicator-round"></div>
                    </div>
                </div>

                <div class="tokenomics__content">
                    <div class="tokenomics__block rupor">
                        <div class="tokenomics__block-left">
                            <h3 class="tokenomics__block-title">Title</h3>

                            <div class="tokenomics__block-texts">
                                <p class="tokenomics__block-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed
                                    do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor
                                </p>
                                <p class="tokenomics__block-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed
                                    do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor
                                </p>
                            </div>
                        </div>

                        <div class="tokenomics__block-img">
                            <img src="./img/tokenomics/img.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="tokenomics__block liquidity _active">
                        <div class="tokenomics__block-left">
                            <h3 class="tokenomics__block-title">Title</h3>

                            <div class="tokenomics__block-texts">
                                <p class="tokenomics__block-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed
                                    do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor
                                </p>
                                <p class="tokenomics__block-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed
                                    do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor
                                </p>
                            </div>
                        </div>

                        <div class="tokenomics__block-img">
                            <img src="./img/tokenomics/img.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="tokenomics__block reserves ">
                        <div class="tokenomics__block-left">
                            <h3 class="tokenomics__block-title">Title</h3>

                            <div class="tokenomics__block-texts">
                                <p class="tokenomics__block-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed
                                    do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor
                                </p>
                                <p class="tokenomics__block-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed
                                    do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor
                                </p>
                            </div>
                        </div>

                        <div class="tokenomics__block-img">
                            <img src="./img/tokenomics/img.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="tokenomics__block airdrops">
                        <div class="tokenomics__block-left">
                            <h3 class="tokenomics__block-title">Title</h3>

                            <div class="tokenomics__block-texts">
                                <p class="tokenomics__block-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed
                                    do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor
                                </p>
                                <p class="tokenomics__block-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed
                                    do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor
                                </p>
                            </div>
                        </div>

                        <div class="tokenomics__block-img">
                            <img src="./img/tokenomics/img.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="tokenomics__block development">
                        <div class="tokenomics__block-left">
                            <h3 class="tokenomics__block-title">Title</h3>

                            <div class="tokenomics__block-texts">
                                <p class="tokenomics__block-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed
                                    do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor
                                </p>
                                <p class="tokenomics__block-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed
                                    do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor
                                </p>
                            </div>
                        </div>

                        <div class="tokenomics__block-img">
                            <img src="./img/tokenomics/img.jpg" alt="Image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="tokenomics__adress _container">
                <p class="tokenomics__adress-text">Solana Token Address</p>
                <div class="tokenomics__adress-field">
                    <span class="tokenomics__adress-value">
                        FUAfBo2jgks6gB4Z4LfZkqSZgzNucisEHqnNebaRxM1P
                    </span>

                    <button class="tokenomics__adress-copy">Copy Address</button>
                </div>
            </div>
        </div>
    </div>
</section>