//< " FILE WITH RESET STYLES " >=============================================================================================================>//
@import "./modules/_nullstyle";

//< "FILE WITH TAILWIND " >=============================================================================================================>//
@import "./modules/tailwind";

//< " CONNECTING THE FILE WITH FONTS " >=====================================================================================================>//
@import "./modules/_fonts";

//< " CONNECTING THE FILE WITH ICONS " >=====================================================================================================>//
// @import "./modules/_iconfonts";

//< " MIXINS " >=============================================================================================================>//
@import "./modules/_mixins";

//< " FILE WITH VARIABLES " >=============================================================================================================>//
@import "./modules/_vars";

@import "./modules/_utils";

//< " body SITE " >=============================================================================================================>//
body {
  background-color: $colorBg;
  font-family: $fontIBM;
  color: $colorWhite;
  font-size: 14px;

  &::-webkit-scrollbar {
    width: 0;
  }

  // ._lock-scroll
  &._lock-scroll {
    overflow: hidden;
  }
}

//< " Wrapper " >=============================================================================================================>//
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

//< " GRID " >=============================================================================================================>//

// .content
.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

// ._container
._container {
  width: 100%;
  padding: 0px #{calc($containerPadding / 2) + px};
  margin: 0px auto;
  max-width: $maxWidthContainer + px;
}

//< " FILES COMPONENTS " >=============================================================================================================>//
@import "./components/_header";
@import "./components/_footer";
@import "./components/_main";
@import "./components/_analytics";
@import "./components/_about";
@import "./components/_features";
@import "./components/_partners";
@import "./components/_tokenomics";
// @import "./components/_preloader";

//< " MAIN BLOCK " >=============================================================================================================>//
.page {
  flex: 1 1 auto;
}